<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Word Ladder</title>
</head>

<body>
<div class="juzhong">
    <h2>你好!你目前尚无权限需要登录！</h2>
    <form th:action="@{/hello}" method="post">
        <div><input type="submit" value="点击前往登录界面"/></div>
    </form>
</div>
</body>
<style>
    .juzhong{
        text-align: center; /*让div内部文字居中*/
        background-color: #fff;
        border-radius: 20px;
        width: 480px;
        height: 350px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: lightblue;
        font-size:20px;
    }
    input[type="submit"]{
        border-radius: 10px;
        width:120px;
        height:50px;
    }
</style>
</html>